<% provide(:title, "Portfolio") %>

<div class="page-header debug">
  <div class="port-heading">
    <h1><small><i>Take a moment to view some</i></small><h1>
    <h1>PROJECTS</h1>
    <br>
    <a href="#scroll"><%= image_tag("chevron.png", :class => "chevron") %></a>
  </div>
</div>
<a name="scroll">

<div class="portfolio">

<div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("StealtheShow.png", alt: "show", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Steal the Show</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>React, Express, Node.js, NPM, Mongoose, MongoDB, MySQL, Javascript, jQuery, HTML, CSS, Bootstrap</p>
        <p style="text-align: left;">Final group project at SMU. An e-commerce site enabling users to login/signup, and rent or buy shoes, handbags, and dresses, saving their information to their profile.</p>
        <p><a href="#" class="btn btn-default" role="button">Visit Site (deployment in progress)</a></p>
        <p><a href="https://github.com/helenkhoda2019/final-project" class="btn btn-default" role="button">View Code</a></p>
      </div>
    </div>
  </div>

<div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("burger.png", alt: "burger", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Eat-da-Burger</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>Express, Handlebars, Node.js, NPM, MySQL, Javascript, HTML, CSS, Bootstrap</p>
        <p style="text-align: left;">This is a burger logger using MySQL, Node, Express, Handlebars and an ORM. It is designed using the MVC design pattern; it uses Node and MySQL to query and route data, and Handlebars to generate the HTML.
        Users of the app can create a burger and add it to a database, then devour the burger, which updates the devoured state in the database. After updating the state, the DOM will be updated to display the results on the webpage.</p>
        <p><a href="https://eat-da-burger-24.herokuapp.com/" class="btn btn-default" role="button">Visit Site</a></p>
        <p><a href="https://github.com/mpieces/burger" class="btn btn-default" role="button">View Code</a></p>
      </div>
    </div>
  </div>

<div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("friend-finder.png", alt: "friend-finder", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Friend Finder</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>Express, NPM, Node.js, Javascript, HTML, CSS, Bootstrap</p>
        <p style="text-align: left;">FriendFinder is a Seinfeld character matching app. It is a full-stack site that will take in results from user&#39;s surveys, then compare their answers with those from other users. The app will then display the name and picture of the user with the best overall match.</p>
        <p><a href="https://friend-finder-seinfeld-24.herokuapp.com/" class="btn btn-default" role="button">Visit Site</a></p>
        <p><a href="https://github.com/mpieces/FriendFinder" class="btn btn-default" role="button">View Code</a></p>
      </div>
    </div>
  </div>

<div class="row debug">
<div class="col-md-7 debug">
  <div class="thumbnail debug">
    <%= image_tag("bamazon.png", alt: "bamazon", :class => "preview") %>
  </div>
</div>
<div class="col-md-5 debug">
    <div class="caption">
      <hr />
      <h3>Bamazon</h3>
      <hr />
      <p><strong>Technology Used:</strong></p>
      <p>Javascript, Node.js, NPM, MySQL, Inquirer</p>
      <p style="text-align: left;">
      Bamazon is an Amazon-like storefront using MySQL and Node. The app will take in orders from customers and deplete stock from the store&#39;s inventory.</p>
      <p><a href="https://github.com/mpieces/bamazon" class="btn btn-default" role="button">View Code</a></p>
    </div>
  </div>
</div>

<div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("liri-movie-this.png", alt: "liri", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>LIRI Node App</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>Javascript, Node.js, NPM, Axios, Moment.js</p>
        <p style="text-align: left;">LIRI is like iPhone&#39;s SIRI; however, LIRI is a Language Interpretation and Recognition Interface. This is a command line node app that takes in parameters and gives you back data. LIRI will search Spotify for songs, Bands in Town for concerts, and OMDB for movies.</p>
        <p><a href="https://github.com/mpieces/liri-node-app" class="btn btn-default" role="button">View Code</a></p>
      </div>
    </div>
  </div>

  <div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("dog-go.png", alt: "doggo", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Dog-Go</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>FourSquare API, Google Maps API, Tippy.js, jQuery, Javascript, HTML, CSS, Bootstrap</p>
        <p style="text-align: left;">Dog-go is a solution to finding all your dog&#39;s needs right nearby: from dog parks to vets to pet stores. Just select your category of choice in the dropdown menu, click "Go Fetch," and you will obtain a list of all the results in a table on the left and a map on the right. To change categories, click on "New Search" in top right corner.</p>
        <p><a href="https://nideverjoe.github.io/Dog-Go/" class="btn btn-default" role="button">Visit Site</a></p>
        <p><a href="https://github.com/NideverJoe/Dog-Go" class="btn btn-default" role="button">View Code</a></p>
      </div>
    </div>
  </div>

  <div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("giphy-animals.png", alt: "giphy", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Giphy Animals</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>AJAX, jQuery, Javascript, HTML, CSS</p>
        <p style="text-align: left;"></p>
        <p><a href="https://mpieces.github.io/Giphy-API/" class="btn btn-default" role="button">Visit Site</a></p>
        <p><a href="https://github.com/mpieces/Giphy-API" class="btn btn-default" role="button">View Code</a></p>
      </div>
    </div>
  </div>




  <div class="row debug">
  <div class="col-md-7 debug">
    <div class="thumbnail debug">
      <%= image_tag("seinfeld-trivia-game.png", alt: "trivia", :class => "preview") %>
    </div>
  </div>
  <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Seinfeld Trivia Game</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>jQuery, Javascript, HTML, CSS</p>
        <p style="text-align: left;"></p>

        <p><a href="https://mpieces.github.io/Trivia-Game/" class="btn btn-default" role="button">Visit Site</a></p>
        <p><a href="https://github.com/mpieces/Trivia-Game" class="btn btn-default" role="button">View Code</a></p>
      
      </div>
    </div>
  </div>

# Crystal Collector
<div class="row debug">
<div class="col-md-7 debug">
  <div class="thumbnail debug">
    <%= image_tag("crystal-collector.png", alt: "crystals", :class => "preview") %>
  </div>
</div>
<div class="col-md-5 debug">
    <div class="caption">
      <hr />
      <h3>Crystal Collector Game</h3>
      <hr />
      <p><strong>Technology Used:</strong></p>
      <p>jQuery, Javascript, HTML, CSS</p>
      <p style="text-align: left;"></p>

      <p><a href="https://mpieces.github.io/unit-4-game/" class="btn btn-default" role="button">Visit Site</a></p>
      <p><a href="  https://github.com/mpieces/unit-4-game" class="btn btn-default" role="button">View Code</a></p>
    
    </div>
  </div>
</div>
  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("estates.png", alt: "estates", :class => "preview") %>
      </div>
    </div>
    <div class="col-md-5 debug">
        <div class="caption">
          <hr />
          <h3>Estates-to-Date</h3>
          <hr />
          <p><strong>Technology Used:</strong></p>
          <p>Ruby, Sinatra, JavaScript, jQuery, AJAX, Google Maps API, Kimono Labs scraper, Zip Code Distance API, HTML5, CSS3</p>
          <p style="text-align: left;">This was my passion project done during Phase 2 at DBC. I love going to estate sales, but the site that exists for the Dallas area has no functionality, so I wanted to improve on that. We had not learned Rails yet, so this is based on the Sinatra framework, with all the CSS done from scratch.</p>
          <ul><p><strong>Features:</strong></p>
            <li>When a user signs up or logs in either as a shopper or a lister, they are granted different access levels.</li>
            <li>Shoppers can see estate sales in their area, view descriptions with a Google map inset of the exact location.</li>
            <li>Shopper can also "favorite" estate sales by clicking on the star, view their favorites, and remove them.</li>
            <li>Listers can fill out a new sale form, edit it, publish it, and delete it.</li>
          </ul>

          <p><a href="http://estates-to-date.herokuapp.com" class="btn btn-default" role="button">Visit Site</a></p>
        </div>
      </div>
  </div>

  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("chariteer.png", alt: "chariteer", :class => "preview") %>
      </div>
    </div>
    <div class="col-md-5 debug">
      <div class="caption">
        <hr />
        <h3>Chariteer</h3>
        <hr />
        <p><strong>Technology Used:</strong></p>
        <p>Ruby, Rails, Angular.js, PostgreSQL, HTML5, CSS3</p>
        <p style="text-align: left;">This was our final week group project done at DBC. Four of us created a decoupled app using Angular for the front end and Rails as an API for the back end. Our goal was to connect volunteers with charities in the San Francisco area.</p>
        <ul><p><strong>Features:</strong></p>
          <li>Volunteers can search for volunteer opportunities by category or by a key word search.</li>
          <li>Charities can list events with all the pertinent details.</li>
        </ul>
        <p><a href="https://github.com/TeresaNesteby/chariteer-client-side" class="btn btn-default" role="button">View "Client-Side" Code</a></p>
        <p><a href="https://github.com/TeresaNesteby/chariteer-api" class="btn btn-default" role="button">View "Rails API" Code</a></p>
      </div>
    </div>
  </div>

  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("backbone.png", alt: "backbone.js", :class => "preview") %>
      </div>
    </div>
      <div class="col-md-5 debug">
        <div class="caption">
          <hr />
          <h3>Marisa's Pieces</h3>
          <hr />
          <p><strong>Technology Used:</strong></p>
          <p>Backbone.js, HTML5, CSS3</p>
          <p style="text-align: left;">This project's assignment, done in phase 3 at DBC, was to choose a new technology, and in about 4 days, learn it and create a project with it. I chose to learn Backbone.js, which we then had to create a 10-minute screencast explaining our project and code. This is a simple gallery displaying some of my glass pieces and descriptions.</p>
          <p><a href="https://github.com/mpieces/Backbone-Project" class="btn btn-default" role="button">View Code</a></p>
        </div>
      </div>
  </div>

  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("connect4.png", alt: "connect4", :class => "preview") %>
      </div>
    </div>
      <div class="col-md-5 debug">
        <div class="caption">
          <hr />
          <h3>Connect Four</h3>
          <hr />
          <p><strong>Technology Used:</strong></p>
          <p>Javascript, HTML5, CSS3</p>
          <p style="text-align: left;">We were given 2 days to do this group project, in which we used Javascript to recreate the classic Connect Four game. It detects wins both horizontally and vertically, and originally had a timer counting down time remaining to take a turn.</p>
          <p><a href="https://github.com/mpieces/ConnectFour" class="btn btn-default" role="button">View Code</a></p>
        </div>
      </div>
  </div>

   <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("larken-farms.png", alt: "larken", :class => "preview") %>
      </div>
    </div>
      <div class="col-md-5 debug">
        <div class="caption">
          <hr />
          <h3>Larken Farms Orchard</h3>
          <hr />
          <p><strong>Technology Used:</strong></p>
          <p>Ruby on Rails, Paperclip gem, ActiveMailer, Javascript, HTML5, CSS3</p>
          <p style="text-align: left;">This is a completed site for a client who has a peach orchard in Waxahachie, TX, and sells to both major grocery stores and the general public. Since they grow more than just peaches, I made a produce "catalogue" under "In Season Now," where the admin can upload photos and descriptions of produce in season at the moment. The main focus of this project was making it easy for the admin to change and update things on their own, which was a helpful learning experience for me. Other functions are listed below:</p>
           <ul>
            <p><strong>Admin functions:</strong></p>
              <li>upload photos and captions to the photo gallery </li>
              <li>upload produce that's In Season Now along with an image and description</li>
              <li>post updates on the home page with the date of post updated automatically / update hours in the "Hours" box</li>
              <li>view list of other admins, update passwords, add admins</li>
            <br>
            <p><strong>Users:</strong></p>
              <li>can see a "catalogue" of produce that is in season now</li>
              <li>can see a mapped location of the orchard and click to get directions.</li>
              <li>can submit questions via the contact form</li>
              <li>can subscribe to the company's mailing list</li>
          </ul>
          <p><a href="http://www.larkenfarms.com/" class="btn btn-default" role="button">Visit Site</a></p>
          <p><a href="https://github.com/mpieces/larken-farms" class="btn btn-default" role="button">View Code</a></p>
        </div>
      </div>
  </div>

    <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("stephen.png", alt: "stephen", :class => "preview") %>
      </div>
    </div>
      <div class="col-md-5 debug">
        <div class="caption">
          <hr />
          <h3>Stephen's Tutoring Services</h3>
          <hr />
          <p><strong>Technology Used:</strong></p>
          <p>Ruby on Rails, HTML5, CSS3</p>
          <p style="text-align: left;">This is a site I did for my brother, who has been tutoring high school students before he goes off to medical school. Students can sign up, edit their profile, and book a session. Users can also leave feedback, read about Stephen, and see what courses he tutors. As an admin, Stephen can see a list of all students and their email addresses, making it easy for him to contact one or all of them.
          </p>
          <p><a href="http://www.ramonstutoring.com" class="btn btn-default" role="button">Visit Site</a></p>
          <p><a href="https://github.com/mpieces/stephens-tutoring-final" class="btn btn-default" role="button">View Code</a></p>
        </div>
      </div>
  </div>



</div>





