<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- head tag not necessary -->
    <meta charset="UTF-8">
    <title><%= yield(:title) %> | Marisa E. Ramon</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="application.css.scss" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
  </head>


  <body class="debug
    <%= @beach_class ? 'beach' : ''%>
    <%= @dallas_class ? 'dallas-image' : ''%>
    <%= @screen_class ? 'screen-image' : ''%>
    <%= @project_class ? 'projects-image' : ''%>">

    <nav>
      <ul>
        <li><a href='/welcome/contact'>Contact</a></li>
        <li><a href='/welcome/resume'>Resume</a></li>
        <li><a href='/welcome/about'>About</a></li>
        <li><a href='/welcome/portfolio'>Portfolio</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </nav>



      <%= image_tag("mer-logo.png", alt: "MER logo", :class => "logo") %>




    <div class="container-fluid debug">

            <%= yield %>

    </div>

  <!-- <div class="footer">
  </div> -->

  </body>

</html>
