<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title><%= yield(:title) %> | Marisa E. Ramon</title>

    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="application.css.scss" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  </head>


  <body class="debug
    <%= @beach_class ? 'beach' : ''%>
    <%= @dallas_class ? 'dallas-image' : ''%>
    <%= @screen_class ? 'screen-image' : ''%>
    <%= @project_class ? 'projects-image' : ''%>
    <%= @lox_class ? 'lox-image' : '' %>">

  <div class="row debug">
    <div class="col-lg-12 col-md-12">
      <nav>
        <ul>
          <li><a href='/welcome/contact'>Contact</a></li>
          <li><a href='/welcome/resume'>Resume</a></li>
          <li><a href='/welcome/about'>About</a></li>
          <li><a href='/welcome/portfolio'>Portfolio</a></li>
          <li><a href='/'>Home</a></li>
        </ul>
      </nav>
    </div>
  </div>

      <%= image_tag("mer-logo.png", alt: "MER logo", :class => "logo") %>

    <div class="container debug">

            <%= yield %>

    </div>

  <!-- <div class="footer">
  </div> -->

<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>

</html>
